name: Automated Deployment
on:
  push:
    branches: [ main ] # This runs the script every git push

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: SSH and Update Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/rentacar  # Change this to your folder name on the EC2
            git pull origin main
            docker-compose up -d --build